@charset "UTF-8";

/* ダークモード */
/* html {
    color-scheme: light dark;
} */

a {
    text-decoration: none;
    color: midnightblue;
}

.header {
    font-family: Crimson Pro, serif !important;
    width: 600px;
    /* background: #eee; */
    margin-bottom: 50px;
}
.header h1 {
    padding: 5px;
}
.header ul {
    display: flex;
    padding-left:0;
}
.header ul li {
    list-style:none;
    width: 300px;
    text-align: center;
    background: wheat;
    border-right: 2px solid #eee;
    padding: 5px;
}
.header ul li:first-child{
    border-left: 2px solid #eee;
}
.header ul li a {
    display: block;
}

/* ホバー処理 */
.prunk {
    position: relative;
    overflow: hidden;
    text-align: right;
    margin-bottom: 50px auto;
}

.header_img:nth-child(2) {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;  /* 文字被りの対策 */
}

.prunk:hover .header_img:nth-child(2) {
    opacity: 0;
    transition: opacity 1s;
}

.history p {
    text-align: left;
}

.appealing {
    color: rgb(56, 31, 8);
}

.youtube_title {
    font-family: Crimson Pro, serif !important;
}

.wordcloud {
    text-align: center;
}

.footer {
    text-align: center;
    color: white;
    background: #79a1b1;
    padding: 10px;
    margin-bottom: 50px;
}

body {
    width: 35em;
    margin: 0 auto;
    text-align: center;
    font-family: Tahoma, Verdana, Arial, sans-serif;
}

